* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  padding: 30px 16px;
  width: 100%;
  margin: 0 auto;
}

.link-muli {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.link {

  list-style: none;
  margin-left: 10px;
}
